<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <script src="https://cdn.tailwindcss.com"></script>
    <title>PHP PTT Task</title>
</head>
<body>
    <div class="flex justify-center items-center w-screen h-screen bg-gray-900 duration-700">
        <div>
            <h1 class="mb-4 text-2xl text-amber-500">Select E-Commerce:</h1>
            <div class="flex justify-center items-center">
                <div class="flex flex-col text-white text-center text-xl font-light space-y-3">
                    <a class="hover:text-amber-500 duration-300" href="?route=ecommerce1" target="_blank">E-Commerce 1</a>
                    <a class="hover:text-amber-500 duration-300" href="?route=ecommerce2" target="_blank">E-Commerce 2</a>
                    <a class="hover:text-amber-500 duration-300" href="?route=ecommerce3" target="_blank">E-Commerce 3</a>
                </div>
            </div>
        </div>
    </div>
</body>
</html>